.nav_links{
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px;

  list-style: none;
}

.nav_links p{
    color: #4169E1;
    flex: 0 1 100%;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-family: monospace;

}



.nav_item a{
  color: black;
  text-decoration: none;
  padding: 10px;
}

.nav_item a:hover, a:focus{
  color: #50C7C7;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.currentlink a{
    color: #4169E1;
}



.skip{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  margin-top: -40px;
}

.headinfo{
    text-align: center;
    margin: 15px;
}
h1{
    font-size: 30px;

}
/* Form style */
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {

  font: 1em sans-serif;

  width: 300px;
  box-sizing: border-box;

  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;

  height: 5em;
}

.button {
  padding-left: 90px;
}
button {
  margin-left: .5em;
}
@media screen and (min-width: 800px){
    .nav_links{
        justify-content: flex-end;
        flex-wrap: nowrap;
        font-size: 20px;
    }

    .nav_links p{
        flex: auto;
        font-size: 35px;
        text-align: left;
        align-items: flex-start;
    }

    h1{
        font-size: 40px;
    }
}
